
@using FourTwenty.Dashboard.Areas.Dashboard.Helpers
@using FourTwenty.Dashboard.Areas.Dashboard.Models.Navbars
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <partial name="_LayoutStyles"/>


    <title>@ViewBag.Title</title>
</head>
<body class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <div class="page-header">
            <partial name="_LayoutTopNavbar"/>
        </div>
        <div class="main-container">
            <div class="sidebar">
               <partial name="_LayoutSidebar"/>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <partial name="_AjaxUrls" />
    <partial name="_LayoutJavaScripts" />
 
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
